<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550516902919-0997o1ns755er5nm7daruq8kal3vgo0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550516902919-0997o1ns755er5nm7daruq8kal3vgo0v</string>
	<key>API_KEY</key>
	<string>AIzaSyD0MyJjbfsTzqk-ORF9J5Y4P-tXvOxcGvU</string>
	<key>GCM_SENDER_ID</key>
	<string>550516902919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OnurKarakus.LoodosProject</string>
	<key>PROJECT_ID</key>
	<string>loodosproject</string>
	<key>STORAGE_BUCKET</key>
	<string>loodosproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550516902919:ios:9cc97dab27f4f183</string>
	<key>DATABASE_URL</key>
	<string>https://loodosproject.firebaseio.com</string>
</dict>
</plist>